:root {
    --main-background: #f4f6f8;
    --light-background: #ffffff;

    --text: #1f2933;
}

.accent, button {
    --main-background: #1e3a5f;
    --light-background: #2b4c73;

    --text: #f0f4f8;
}

.dark {
    --main-background: #121417;
    --light-background: #1c1f24;

    --text: #e5e7eb;
}

.dark .accent {
    --main-background: #16283d;
    --light-background: #1f3a57;

    --text: #dbeafe;
}

body, html {
    height: 100%;
    margin: 0;
}

aside, body, html {
    background-color: var(--main-background);
}

* {
    color: var(--text);
}

button {
    background-color: var(--main-background);
}

button:hover {
    background-color: var(--light-background);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1%;
    padding-left: 2vw;
    padding-right: 2vw;
    min-width: fit-content;
    width: 15vw;
}

aside > section {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

form > * {
    margin: 1%;
    min-height: 1.5rem;
}

nav *:not(ul) {
    padding: 10%;
}

nav *:not(ul):hover {
    background-color: var(--light-background);
}

ul {
    list-style-type: none;
    padding-left: 10%;
}

li{
    width: 100%;
    min-height: 30%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

main > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div section {
    width: 90%;
    margin: 1%;
    padding: 1%;
    
    border-radius: 10px;

    box-shadow: 0 6px 1px rgba(231, 233, 235, 0.3);
    background-color: var(--light-background);
}

/* COMMON CLASSES */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.j-start {
    justify-content: start;   
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: end;
}

.j-around {
    justify-content: space-around;
}

.j-between {
    justify-content: space-between;
}

.a-start {
    align-items: start;   
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: end;
}

.a-around {
    align-items: space-around;
}

.a-between {
    align-items: space-between;
}

.w-90 {
    width: 90%;
}

.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

.g-3 {
    gap: 3rem;
}

/* SPECIFIC CLASSES */

.small > section {
    width: 50%;
}

.categories > section * {
    width: 90%;
}

.category {
    min-height: 4rem;
}

.category button {
    max-width: fit-content;
}

.category > div > div{

    width: 30px;
    height: 30px;

    border: 3px solid black;
    border-radius: 100%;

    background-color: red;
}

label {
    max-width: fit-content;
    padding: 2%;
}