:root {
    --main-background: #F5F9FC;
    --light-background: #ffffff;

    --text: #112A46;
}

.accent {
    --main-background: #482113;
    --light-background: #6f402f;

    --text: #FFECC6;
}

body, html {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

*:not(h1, h2, h3, h4, h5, p) {
    background-color: var(--main-background);
    color: var(--text);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;

    padding: 1%;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 15vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}