:root {
    --main-background: #f5f9fc;
    --light-background: #ffffff;

    --text: #112A46;
}

.accent {
    --main-background: #482113;
    --light-background: #6f402f;

    --text: #FFECC6;
}

body, html {
    height: 100%;
    margin: 0;
}

*:not(h1, h2, h3, h4, h5, p, form, label) {
    background-color: var(--main-background);
    color: var(--text);
}

button {
    background-color: var(--main-background);
    color: var(--text);
}

button:hover {
    background-color: var(--light-background);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1%;
    padding-left: 2vw;
    padding-right: 2vw;
    min-width: fit-content;
    width: 15vw;
}

aside > section {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

nav *:not(ul) {
    padding: 10%;
}

nav *:not(ul):hover {
    background-color: var(--light-background);
}

ul {
    list-style-type: none;
    padding-left: 10%;
}

li{
    width: 100%;
    min-height: 30%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

main > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div section {
    width: 90%;
    margin: 1%;
    padding: 1%;
    
    border-radius: 10px;

    box-shadow: 0 6px 1px rgba(231, 233, 235, 0.3);
    background-color: var(--light-background);
}

/* COMMON CLASSES */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.j-start {
    justify-content: start;   
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: end;
}

.j-around {
    justify-content: space-around;
}

.j-between {
    justify-content: space-between;
}

.a-start {
    align-items: start;   
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: end;
}

.a-around {
    align-items: space-around;
}

.a-between {
    align-items: space-between;
}

/* SPECIFIC CLASSES */

.small > section {
    width: 50%;
    height:fit-content;  
}

.categories > section:first-of-type {
    min-height: 20%;
}

.categories > section * {
    height: 100%;
    width: 90%;
}